<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>İletişim</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <a href="index.html"><i class="fas fa-user"></i><span>Hakkımda</span></a>
      <a href="ozgecmis.html"
        ><i class="fas fa-address-card"></i><span>Özgeçmiş</span></a
      >
      <a href="sehrim.html"
        ><i class="fa-solid fa-mountain-sun"></i><span>Şehrim</span></a
      >
      <a href="mirasimiz.html"
        ><i class="fas fa-star-and-crescent"></i><span>Mirasımız</span></a
      >
      <a href="ilgialanlarim.html"
        ><i class="fas fa-icons"></i><span>Hobilerim</span></a
      >
      <a href="iletisim.html"
        ><i class="fas fa-phone-square-alt"></i><span>Bana Ulaşın</span></a
      >
      <a href="login.html"
        ><i class="fas fa-sign-in-alt"></i><span>Giriş Yap</span></a
      >
    </nav>

    <section class="iletisim" id="app">
      <h1 class="baslik"><span>BANA</span> ULAŞIN</h1>
      <div class="row">
        <div class="info-cont">
          <h1>İLETİŞİM BİLGİLERİ</h1>

          <div class="kutuici">
            <div class="kutu">
              <i class="fas fa-map"></i>
              <div class="icerik">
                <h3>Adres :</h3>
                <p>İstanbul, Sultanbeyli - 34935</p>
              </div>
            </div>

            <div class="kutu">
              <i class="fas fa-envelope"></i>
              <div class="icerik">
                <h3>Email :</h3>
                <p>yildiz.osmancn@gmail.com</p>
              </div>
            </div>

            <div class="kutu">
              <i class="fas fa-phone"></i>
              <div class="icerik">
                <h3>Telefon No :</h3>
                <p>+90 551 691 7958</p>
              </div>
            </div>
          </div>

          <div class="sosyal">
            <a
              href="https://www.linkedin.com/in/osman-can-yıldız-409a302b6/"
              class="fab fa-linkedin"
            ></a>
            <a
              href="https://github.com/osmancanyildiz"
              class="fab fa-github"
            ></a>
            <a
              href="https://instagram.com/osmancan.yildiz"
              class="fab fa-instagram"
            ></a>
            <a
              href="https://open.spotify.com/user/n3tw3ykq5ikz2xbpiivsvlmej"
              class="fab fa-spotify"
            ></a>
          </div>
        </div>

        <form action="https://send.pageclip.co/QfLPWN6KHDuXPuRBPjh9L5KYUMZwhpAY" method="post" >
          <div class="giriskutu">
            <input
              type="text"
              name="name"
              id="adsoyad"
              v-model="adsoyad"
              placeholder="Ad-Soyad"
            />
            <input
              type="email"
              id="email"
              name="email"
              v-model="email"
              placeholder="Email"
            />
          </div>

          <div class="hatakutu">
            <span id="adhata"></span>
            <span id="mailhata"></span>
          </div>

          <div class="hatakutu">
            <span v-if="submitted && !adsoyad">Ad-Soyad alanı boş geçilemez!(vue)</span>
            <span v-else-if="submitted && !validateName(adsoyad)"
              >Adınızı ve Soyadınızı tam giriniz!(vue)</span
            >
            <span v-if="submitted && !email">Email alanı boş geçilemez!(vue)</span>
            <span v-else-if="submitted && !validateEmail(email)"
              >Emailinizi tam giriniz!(vue)</span
            >
          </div>

          <div class="giriskutu">
            <input type="text" id="adres" name="address" v-model="adres" placeholder="Adres" />
            <input type="text" id="konu" name="subject" v-model="konu" placeholder="Konu" />
          </div>

          <div class="hatakutu">
            <span id="adreshata"></span>
            <span id="konuhata"></span>
          </div>

          <div class="hatakutu">
            <span v-if="submitted && !adres">Adres alanı boş geçilemez!(vue)</span>
            <span v-if="submitted && !konu">Konu alanı boş geçilemez!(vue)</span>
          </div>

          <div class="giriskutu">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="radiokutu">
                    <h1>Cinsiyet:</h1>
                    <div class="rad">
                      <label for="erkek">Erkek</label>
                      <input
                        name="cins"
                        type="radio"
                        id="erkek"
                        v-model="cinsiyet"
                        value="erkek"
                      />
                    </div>

                    <div class="rad">
                      <label for="kadin">Kadın</label>
                      <input
                        name="cins"
                        type="radio"
                        id="kadin"
                        v-model="cinsiyet"
                        value="kadin"
                      />
                    </div>

                    <div class="rad">
                      <label for="other">Diğer</label>
                      <input
                        name="cins"
                        type="radio"
                        id="diger"
                        v-model="cinsiyet"
                        value="diger"
                      />
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="selectkutu">
                    <h1>Yaş:</h1>
                    <select id="yas" v-model="yas">
                      <option value="0" disabled selected>Yaş Seçin</option>
                      <option value="0-18">0-18</option>
                      <option value="18-30">18-30</option>
                      <option value="30-45">30-45</option>
                      <option value="45-60">45-60</option>
                      <option value="60+">60+</option>
                    </select>
                  </div>
                </div>

                <div class="col">
                  <div class="selectkutu">
                    <h1>Şehir:</h1>
                    <select id="sehir" v-model="sehir">
                      <option value="0" disabled selected>Şehir Seçin</option>
                      <option v-for="city in sehirler" :value="city">
                        {{ city }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="hatakutu">
            <span id="cinshata"></span>
            <span id="yashata"></span>
            <span id="sehirhata"></span>
          </div>

          <div class="hatakutu">
            <span v-if="submitted && !cinsiyet">Cinsiyet seçiniz!(vue)</span>
            <span v-if="submitted && !yas">Yaş seçiniz!(vue)</span>
            <span v-if="submitted && !sehir">Şehir seçiniz!(vue)</span>
          </div>

          <div class="checkkutu">
            <input type="checkbox" id="check" v-model="check" />
            Form aracılığıyla sağladığım verilerimin Gizlilik ve Kişisel
            Verilerin Korunması Politikası kapsamında formda yer alan konu ile
            ilgili olarak tarafımla iletişime geçilmesi amacı ile işlenmesini
            kabul ediyorum.
          </div>

          <div class="hatakutu">
            <span v-if="submitted && !check">Kabul etmeden devam edemezsiniz!(vue)</span>
          </div>

          <div class="hatakutu">
            <span id="checkhata"></span>
          </div>

          <textarea
            v-model="mesaj"
            id="mesaj"
            placeholder="Mesajınız"
            cols="30"
            rows="10"
          ></textarea>

          <div class="hatakutu">
            <span v-if="submitted && !mesaj">Mesaj alanı boş geçilemez!(vue)</span>
          </div>

          <div class="hatakutu">
            <span id="mesajhata"></span>
          </div>

          <div class="sub-res">
            <input
              type="submit"
              onclick=" return submitFormjs()"
              value="Gönder"
              class="btn"
            />
            <input
              type="button"
              onclick=" return formKontrol()"
              value="Kontrol Et (JS)"
              class="btn"
            />
            <input
              type="submit"
              onclick="return validateForm()"
              value="Kontrol Et (vueJS)"
              class="btn"
            />
            <button type="submit" class="pageclip-form__submit">Send</button>

            <input type="reset" value="Temizle" class="btn" />

            <div class="hatakutu">
              <span id="submithata"></span>
            </div>

            <div class="hatakutu">
              <span v-if="error">Hatalı veya eksik yerleri düzeltin!(vue)</span>
              <span v-else-if="success">Başarılı, gönderebilirsiniz!(vue)</span>
            </div>
          </div>
        </form>
      </div>
      <br /><br />
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="vue.js"></script>
    <script src="script.js"></script>
    <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
  </body>
</html>
